* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
} 
/* Navbar Section */
.navbar {
    background: #F2F2F2;
    height: 125px;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    font-size: .9rem; 
    position: relative;
    top: 0;
    z-index: 999;
    padding: 25px;
}

.navbar__container {
    display: relative;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #000000;
    /* background-image: linear-gradient(to top, #000000 0%, #FFFFFF 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 50px;
}

.navbar__links {
    color: #939393;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: linear-gradient(
        to right,
        #8800ff,
        #e6a1fd
    );
    border: 3px solid white;
    border-radius: 20px;
    color: #ffffff;
    transition: all 3.0 ease;
}

.navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
}

/* Hero Section */
.hero {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/images/Background.png); /* Check if want it dulled or not*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero__container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    padding: 60px;
}

.hero__heading {
    font-size: 50px;
    margin-bottom: 20px;
    color: #ffffff;
}

.hero__heading span {
    background: #d9a7c7;
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    background: linear-gradient(to right, #fffcdc, #d9a7c7);

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

.hero__description {
    font-size: 25px;
    background: #d9a7c7;
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

.hero__btn {
    /* Positioning and sizing */
    display: block;
    width: 150px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 15px;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
}

.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 768px) {
    .hero__heading {
        font-size: 60px;
    }

    .hero__description {
        font-size: 40px;
    }
}

.main {
    background-color: #ffffff;
    padding: 5rem 0;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
}

* {box-sizing:border-box}

.main__slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.main__mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(132, 0, 255);
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 6px 0 0 6px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators (not used as of now) */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

/* .active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.main__content {
    color: #696969;
    width: 100%;
    /* margin-left: 10px; */
}

.main__content h1 {
    font-size: 25px;
    background-color: rgba(255, 0, 200, 0.733);
    /* background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.main__content h2 {
    font-size: 40px;
    background: linear-gradient(
        to right,
        #8800ff,
        #e6a1fd
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__content h3 {
    font-size: 40px;
    text-align: center;
    color: #131313;
    padding-top: 2rem;
}

.main__content h4 {
    text-align: center;
    color: #131313;
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 700;
}

.main__content p {
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 700;
}

.main__btn {
    font-size: 25px;
    background: #833ab4;
    background: linear-gradient(
        to right,
        #8800ff,
        #e6a1fd
    );
    padding: 20px 20px;
    border: none;
    border-radius: 20px;
    color: #131313;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
}

.main__review {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    padding: 0 50px;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 25px;
    font-weight: 700;
}

footer {
    text-align: left;
    padding: 3px;
    background-color: #ffffff;
    color: #131313;
    margin: 20px 20px 20px 20px;
  }